body{
    margin: 0px;

  font-family: 'Courier New', Courier, monospace;
  
}
h1
{
    font-size: 50px;
}
.pfont{
    font-size: 20px;
}
.name{
    color: rgb(255, 213, 0);
}
.half-width{
    width: 40%;
    float: left;
    margin: 5%;
   
}
.half-width img{
    width: 80%;
   
   
}

.topbanner{
   
    background-image: url("image/top-banner.png");
   background-repeat: no-repeat;
}
section{
    height:500px;
    padding-bottom: 100px;
   
}
.linkbutton{
   text-decoration: none;
background-image: linear-gradient(45deg,LightSalmon ,rgb(255, 247, 0));
   padding: 10px 20px;
   border-radius: 10px;
   color: rgb(0, 0, 0);
   font-weight: 700;

}
.drea_area{

    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
     background-position: right;
    

}
.drea_area{

    display: inline-block;
}